/vendor
.env
/node_modules
/public/hot
/public/storage
/storage/*.bak
/storage/*.zip
/storage/*.sql
/storage/*.sqlite
/storage/*.sqlite-journal
/bootstrap/cache/*.php
/build
/.idea
/.vscode
/.DS_Store
/Homestead.json
/Homestead.yaml
/npm-debug.log
/yarn-error.log
/mix-manifest.json
/composer.lock
/Codeception/_log
/Codeception/_output
/Codeception/_data
/Codeception/_support/_generated
/packages/*/vendor
/packages/*/node_modules
/packages/*/public/hot
/packages/*/public/storage
/packages/*/storage/*.bak
/packages/*/storage/*.zip
/packages/*/storage/*.sql
/packages/*/storage/*.sqlite
/packages/*/storage/*.sqlite-journal
/packages/*/bootstrap/cache/*.php
/packages/*/build
/packages/*/.idea
/packages/*/.vscode
/packages/*/.DS_Store
/packages/*/Homestead.json
/packages/*/Homestead.yaml
/packages/*/npm-debug.log
/packages/*/yarn-error.log
/packages/*/mix-manifest.json
/packages/*/composer.lock
/packages/*/Codeception/_log
/packages/*/Codeception/_output
/packages/*/Codeception/_data
/packages/*/Codeception/_support/_generated

